<!--<app-user> </app-user> -->
<div>
  <h1>Que me parece angular?</h1>
  <article>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, aliquid.
      Nihil quae sapiente voluptate repellendus harum obcaecati velit. Quisquam
      blanditiis fugit ducimus maxime, iusto exercitationem alias non officiis
      autem aperiam.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, aliquid.
      Nihil quae sapiente voluptate repellendus harum obcaecati velit. Quisquam
      blanditiis fugit ducimus maxime, iusto exercitationem alias non officiis
      autem aperiam.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, aliquid.
      Nihil quae sapiente voluptate repellendus harum obcaecati velit. Quisquam
      blanditiis fugit ducimus maxime, iusto exercitationem alias non officiis
      autem aperiam.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, aliquid.
      Nihil quae sapiente voluptate repellendus harum obcaecati velit. Quisquam
      blanditiis fugit ducimus maxime, iusto exercitationem alias non officiis
      autem aperiam.
    </p>
  </article>
  @defer (on viewport) {
  <app-comments></app-comments>
  }@placeholder {
  <p></p>
  }@loading {
  <p>cargando comentarios...</p>
  }
</div>
